  * {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  }
  
  html {
    font-family: 'Open Sans', sans-serif;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .bg-dark {
    background:  rgb(6, 89, 167);
  }

  #navbar {
    color: rgb(6, 89, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 50px;
  }

  #navbar ul {
    background: rgb(6, 89, 167);
    list-style: none;
    display: flex;
    align-items: center;
    border: 3px solid rgb(6, 89, 167);
    border-radius: 5px;
    
  }

  #navbar ul li a {
    padding: 0 2rem;
   
  }

  #navbar ul li a:hover {
    padding: 0 2rem;
    color: rgb(6, 89, 167);
    background: #fff;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

.social {
  display: flex;
  align-items: center;
}

.searchbox {
  color: rgb(65, 65, 65);

border: 2px solid rgb(6, 89, 167);
border-radius: 5px;
min-width: 500px;
 height:1.75rem;
 
}